.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 27px;
    margin: 0 auto 58px;
  }
  
  @media screen and (max-width: 320px) {
    .header {
      padding-top: 16px;
    }
}