.lead__title {
    margin: 0 auto 36px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .lead__title {
        font-size: 62px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 500px) {
    .lead__title {
        font-size: 48px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        margin-bottom: 8px;
        font-size: 40px;
        line-height: 44px;
    }
}