.footer__url {
    display: inline-block;
    margin-right: 18px;
}

.footer__url:last-child {
    margin-right: 0;
}

@media screen and (max-width: 425px) {
    .footer__url {
        display: block;
        margin-top: 0;
    }
}