.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  text-decoration: none;
  min-height: 740px;
  color: #fff;
}

.cover__overlay:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #2a2c2f;
  opacity: 0.1;
  transition: 0.3s;
  z-index: -1;
}

.cover__overlay:hover:before {
  opacity: 0.8;
}

@media screen and (min-width: 1025px) and (max-width: 1184px) {
  .cover__overlay {
      min-height: 740px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cover__overlay {
      min-height: 640px;
  }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .cover__overlay {
      min-height: 480px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .cover__overlay {
      min-height: 266px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
      min-height: 200px;
  }
}